{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, intial-scale=1.0, maximum-scale=1, minimum-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>Tasksmenager</title>

	<!-- <link rel="stylesheet" href="style.css" /> -->
	<link rel="stylesheet" href="{% static '/style.css' %}">
</head>

<body>
	<header>
		<h1 class="categories-title">Tasksmenager ->Strona jeszcze w budowie ;-)</h1>
	</header>

	<div class="container">
		<a href = "/tasks">
       		<h1> Wszystkie zadania + API </h1><br>
		</a>

		{% for i in zadania %}
			<div class="col-lg-12">
				<strong>Tytuł: </strong>{{i.title}}
				<strong>Opis: </strong>{{i.description}}
				<strong>Status: </strong>{{i.status}}
				<strong>Użytkownik </strong>{{i.user}}
				<strong>Data ważności: </strong>{{i.expiry_date}}
			</div> 
		{% endfor %}


		<a href = "/users">
			<button> Użytkownicy </button><br>
		</a>

		{% for i in uzytkownicy %}
			<div class="col-lg-12">
				<a href = "/taskuser/{{i.id}}">
					{{i.username}}
				</a>
			</div>
		{% endfor %}

		{% block taskuser %}   {% endblock taskuser %}

		<br>
		<a href = "/task/api">
			<button>API</button>
	 	</a>

	</div>
</body>
</html>